node_modules
dist
dist-ssr
.env
.env.local
.env.*.local
*.local

# Vite / Vitest
.vite
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
